*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}
body, html {
    height: 100%;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    transition: background-color 0.3s ease;
    background-color: none;
}

nav.scrolled {
    background-color: #fff ;

}
nav.scrolled ul li a{
    color: #58a6ff;
}

img{
    width: 75px;
    height: auto;
    padding: 0 ;
}
nav ul{
    float: right;
    margin-right: 20px;
    display: flex;
    gap: 2 rem;
    
}
nav ul li{
    display: inline-block;
    line-height: 60px;
    margin: 0;
    outline: none;
    justify-content: center;
}
nav ul li a{
   
    color:#fff ;
    font-size: 17px;
    padding: 10px;
    border-radius: 3px;
    text-decoration: none;
    margin: 10px 20px;
    padding: 0.5rem;
}
.navbar ul li a:focus {
    color: #fff;
    border-bottom-color: #58a6ff;
    outline: none;
  }
a:hover{
    color: #58a6ff;
}
#check{
    display: none;
}

.checkbtn {
    font-size: 30px;
    color: #0077C2;
    float: right;
    line-height: 60px;
    margin-right: 20px;
    cursor: pointer;
    display: none;
    z-index: 1100;
}

@media (max-width: 952px) {
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #6fc1f4 ;
        top: 60px;
        left: -100%;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        transition: left 0.3s;
        padding-top: 2rem;
        margin-right: 0;
    }
    nav ul li {
        display: block;
        line-height: 40px;
    }
    .checkbtn {
        display: block;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media (max-width: 952px) {
    nav ul {
        overflow-y: auto;
    }
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("07.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-content {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.underline-effect {
  position: relative;
  display: inline-block;
}

.underline-effect::after {
    content: '';
    position: absolute;
    bottom: -15px; 
    left: 0;
    width: 100%; 
    height: 3px; 
    background-color:#fff; 
}

#Story{
    margin-top: 0px;
    background-color: #fff;
    text-align: justify;
    margin: 5% 5%;
    justify-content: center;
}
#Story .row .col-lg-12 .underline-effect {
  position: relative;
  display: inline-block;
}

#Story .row .col-lg-12 .underline-effect::after {
    content: '';
    position: absolute;
    bottom: -15px; 
    left: 0;
    width: 100%; 
    height: 3px; 
    background-color:#0f94e7; 
}

#Story .row .col-lg-12 p{
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    margin-top: 20px;
    text-align: justify;
}

#Mission{
    margin-top: 5rem;
    background-color: #fff;
    text-align: justify;
    margin: 5% 5%;
    justify-content: center;
}

#Mission .row .col-lg-6 .underline-effect {
  position: relative;
  display: inline-block;
}

#Mission .row .col-lg-6 .underline-effect::after {
    content: '';
    position: absolute;
    bottom: -15px; 
    left: 0;
    width: 100%; 
    height: 3px; 
    background-color:#0f94e7; 
}

#Mission .row .col-lg-6 p{
    font-size: 18px;
    line-height: 1.0;
    color: #333;
    margin-top: 20px;
    text-align: justify;
}

#Vision{
    margin-top: 5rem;
    background-color: #fff;
    text-align: justify;
    margin: 5% 5%;
    justify-content: center;
}

#Vision .row .col-lg-6 .underline-effect {
  position: relative;
  display: inline-block;
}

#Vision .row .col-lg-6 .underline-effect::after {
    content: '';
    position: absolute;
    bottom: -15px; 
    left: 0;
    width: 100%; 
    height: 3px; 
    background-color:#0f94e7; 
}
#Vision .row .col-lg-6 p{
    font-size: 18px;
    line-height: 1.0;
    color: #333;
    margin-top: 20px;
    text-align: justify;
}

.visual{
    width: 100%;
    height: auto;
    border-radius: 20px;
}

                
      